In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#BMI Table Extract
url = 'https://www.cdc.gov/obesity/data/prevalence-maps.html'

In [3]:
bmi_table = pd.read_html(url)
bmi_df = pd.DataFrame(bmi_table[0])
bmi_df

              BMI   Weight Status
0      Below 18.5     Underweight
1       18.5–24.9  Healthy Weight
2       25.0–29.9      Overweight
3  30.0 and Above         Obesity

In [4]:
#Convert BMI Table
def convert_bmi(number):
    if number <18.5:
        return 'Underweight'
    elif number >= 18.5 and number < 25:
        return 'Healthy Weight'
    elif number >= 25 and number < 30:
        return 'Overweight'
    elif number > 30:
        return 'Obesity'
    else:
        return 'Please check your BMI Value again'

In [5]:
#Convert Country Table
def convert_c(country):
    if country == 'United States':
        return 1
    elif country == 'Central African Republic':
        return 2
    elif country == 'Congo':
        return 3
    elif country == 'Niger':
        return 4
    else:
        return 'Please check the Country Code'

# MALE

In [6]:
#Male DataFrame
male_df = pd.read_csv('Resources/Male BMI by country.csv')
male_df = male_df.rename(columns={'Entity':'Country', 'Mean BMI (male)':'Mean BMI'})
male_df = male_df.drop('Code', axis=1)
male_df['CountryID'] = male_df['Country'].map(lambda x: convert_c(x))
male_df['Weight Status'] = male_df['Mean BMI'].map(lambda x: convert_bmi(x))

United States (Male)

In [7]:
#US Male Mean BMI
usm_df = male_df.loc[(male_df['Country'] == 'United States') &(male_df['Year'] >= 2000)]
usm_df = usm_df[['CountryID', 'Year', 'Mean BMI', 'Weight Status']]
usm_df.head()

     CountryID  Year   Mean BMI Weight Status
8425         1  2000  27.761707    Overweight
8426         1  2001  27.885244    Overweight
8427         1  2002  28.004864    Overweight
8428         1  2003  28.120228    Overweight
8429         1  2004  28.230635    Overweight

In [8]:
usm_df.to_csv('BMI&Weight Status CSV/US Male BMI&Weight Status.csv', index = False)

Niger (Male)

In [9]:
#Niger Male Mean BMI
nig_m_df = male_df.loc[(male_df['Country'] == 'Niger') &(male_df['Year'] >= 2000)]
nig_m_df = nig_m_df[['CountryID', 'Year', 'Mean BMI', 'Weight Status']]
nig_m_df.head()

     CountryID  Year   Mean BMI   Weight Status
5653         4  2000  20.620045  Healthy Weight
5654         4  2001  20.693784  Healthy Weight
5655         4  2002  20.767602  Healthy Weight
5656         4  2003  20.841088  Healthy Weight
5657         4  2004  20.912538  Healthy Weight

In [10]:
nig_m_df.to_csv('BMI&Weight Status CSV/Niger Male BMI&Weight Status.csv', index = False)

Central African Republic (Male)

In [11]:
#Central African Republic Male Mean BMI
car_m_df = male_df.loc[(male_df['Country'] == 'Central African Republic') &(male_df['Year'] >= 2000)]
car_m_df = car_m_df[['CountryID', 'Year', 'Mean BMI', 'Weight Status']]
car_m_df.head()

     CountryID  Year   Mean BMI   Weight Status
1453         2  2000  21.144362  Healthy Weight
1454         2  2001  21.206914  Healthy Weight
1455         2  2002  21.270207  Healthy Weight
1456         2  2003  21.333382  Healthy Weight
1457         2  2004  21.396792  Healthy Weight

In [12]:
car_m_df.to_csv('BMI&Weight Status CSV/CAR Male BMI&Weight Status.csv', index = False)

Congo (Male)

In [13]:
#Congo Male Mean BMI
con_m_df = male_df.loc[(male_df['Country'] == 'Congo') &(male_df['Year'] >= 2000)]
con_m_df = con_m_df[['CountryID', 'Year', 'Mean BMI', 'Weight Status']]
con_m_df.head()

     CountryID  Year   Mean BMI   Weight Status
1789         3  2000  21.504071  Healthy Weight
1790         3  2001  21.564128  Healthy Weight
1791         3  2002  21.624402  Healthy Weight
1792         3  2003  21.685322  Healthy Weight
1793         3  2004  21.746773  Healthy Weight

In [14]:
con_m_df.to_csv('BMI&Weight Status CSV/Congo Male BMI&Weight Status.csv', index = False)

# FEMALE

United States (Female)

In [15]:
#Female DataFrame
female_df = pd.read_csv('Resources/Female BMI by country.csv')
female_df = female_df.rename(columns={'Entity':'Country', 'Mean BMI (female)':'Mean BMI'})
female_df = female_df.drop('Code', axis=1)
female_df['CountryID'] = female_df['Country'].map(lambda x: convert_c(x))
female_df['Weight Status'] = female_df['Mean BMI'].map(lambda x: convert_bmi(x))

In [16]:
#US Female Mean BMI
usf_df = female_df.loc[(female_df['Country'] == 'United States') &(female_df['Year'] >= 2000)]
usf_df = usf_df[['CountryID', 'Year', 'Mean BMI', 'Weight Status']]
usf_df.head()

     CountryID  Year   Mean BMI Weight Status
8425         1  2000  27.581705    Overweight
8426         1  2001  27.711948    Overweight
8427         1  2002  27.835578    Overweight
8428         1  2003  27.951670    Overweight
8429         1  2004  28.061047    Overweight

In [17]:
usf_df.to_csv('BMI&Weight Status CSV/US Female BMI&Weight Status.csv', index = False)

Niger (Female)

In [18]:
#Niger Feale Mean BMI
nig_f_df = female_df.loc[(female_df['Country'] == 'Niger') &(female_df['Year'] >= 2000)]
nig_f_df = nig_f_df[['CountryID', 'Year', 'Mean BMI', 'Weight Status']]
nig_f_df.head()

     CountryID  Year   Mean BMI   Weight Status
5653         4  2000  21.004409  Healthy Weight
5654         4  2001  21.110866  Healthy Weight
5655         4  2002  21.216391  Healthy Weight
5656         4  2003  21.319841  Healthy Weight
5657         4  2004  21.419958  Healthy Weight

In [19]:
nig_f_df.to_csv('BMI&Weight Status CSV/Niger Female BMI&Weight Status.csv', index = False)

Central African Republic (Female)

In [20]:
#Central African Republic Female Mean BMI
car_f_df = female_df.loc[(female_df['Country'] == 'Central African Republic') &(female_df['Year'] >= 2000)]
car_f_df = car_f_df[['CountryID', 'Year', 'Mean BMI', 'Weight Status']]
car_f_df.head()

     CountryID  Year   Mean BMI   Weight Status
1453         2  2000  21.950002  Healthy Weight
1454         2  2001  22.069317  Healthy Weight
1455         2  2002  22.189228  Healthy Weight
1456         2  2003  22.308922  Healthy Weight
1457         2  2004  22.427460  Healthy Weight

In [21]:
car_f_df.to_csv('BMI&Weight Status CSV/CAR Female BMI&Weight Status.csv', index = False)

Congo (Female)

In [22]:
#Congo Feale Mean BMI
con_f_df = female_df.loc[(female_df['Country'] == 'Congo') &(female_df['Year'] >= 2000)]
con_f_df = con_f_df[['CountryID', 'Year', 'Mean BMI', 'Weight Status']]
con_f_df.head()

     CountryID  Year   Mean BMI   Weight Status
1789         3  2000  22.761341  Healthy Weight
1790         3  2001  22.871919  Healthy Weight
1791         3  2002  22.980824  Healthy Weight
1792         3  2003  23.087782  Healthy Weight
1793         3  2004  23.191697  Healthy Weight

In [23]:
con_f_df.to_csv('BMI&Weight Status CSV/Congo Female BMI&Weight Status.csv', index = False)