In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#Calories
cal_df = pd.read_csv('Resources/Calories by country.csv')
cal_df = cal_df.rename(columns={'Entity':'Country', 'Daily caloric supply (OWID based on UN FAO & historical sources)':'Daily Caloric Supply'})
cal_df = cal_df.drop({'Code','Overweight or Obese (NCDRisC (2017))', 'Population (historical estimates)', 'Continent'}, axis=1)

In [3]:
#US Caloric Supplies
uscal_df = cal_df.loc[(cal_df['Country'] == 'United States') &(cal_df['Year'] >= 2000)]
uscal_df.head()

             Country  Year  Daily Caloric Supply
54116  United States  2000                3755.0
54117  United States  2001                3707.0
54118  United States  2002                3783.0
54119  United States  2003                3777.0
54120  United States  2004                3809.0

In [4]:
uscal_df.to_csv('Daily Caloric Supply CSV/US DCS.csv')

In [5]:
#Niger Caloric Supplies
nigcal_df = cal_df.loc[(cal_df['Country'] == 'Niger') &(cal_df['Year'] >= 2000)]
nigcal_df.head()

      Country  Year  Daily Caloric Supply
36424   Niger  2000                2328.0
36425   Niger  2001                2341.0
36426   Niger  2002                2309.0
36427   Niger  2003                2401.0
36428   Niger  2004                2453.0

In [6]:
nigcal_df.to_csv('Daily Caloric Supply CSV/Niger DCS.csv')

In [7]:
#CAR Caloric Supplies
carcal_df = cal_df.loc[(cal_df['Country'] == 'Central African Republic') &(cal_df['Year'] >= 2000)]
carcal_df.head()

                       Country  Year  Daily Caloric Supply
9501  Central African Republic  2000                1983.0
9502  Central African Republic  2001                1988.0
9503  Central African Republic  2002                1996.0
9504  Central African Republic  2003                1966.0
9505  Central African Republic  2004                1989.0

In [8]:
carcal_df.to_csv('Daily Caloric Supply CSV/CAR DCS.csv')

In [9]:
#Congo Caloric Supplies
concal_df = cal_df.loc[(cal_df['Country'] == 'Congo') &(cal_df['Year'] >= 2000)]
concal_df.head()

      Country  Year  Daily Caloric Supply
11039   Congo  2000                2177.0
11040   Congo  2001                2232.0
11041   Congo  2002                2259.0
11042   Congo  2003                2236.0
11043   Congo  2004                2263.0

In [10]:
concal_df.to_csv('Daily Caloric Supply CSV/Congo DCS.csv')